# Build artifacts
/out/
/build/
/cmake-build-*/

# Visual Studio
.vs/
*.user
*.suo

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# vcpkg local artifacts (NOT the vcpkg repo itself)
vcpkg_installed/

# Qt
*.moc
*.qrc.depends
*.qmlc
*.rcc

# OS junk
Thumbs.db
.DS_Store
